.about{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.about__title{
    font-size: 3em;
    padding: 0.8rem;
    border-bottom:1px solid black;
}
.about__img{
    object-fit: cover;
}

.about__text{
    padding: 0.315rem 1.2rem;
    text-align: center;
}

.about__subtitle{
    margin: 0.625rem;
    font-size: 2.5em;
}
.about__description{
    margin: 0.625rem;
    font-size: 1.5em;
}
.about__slogan{
    margin: 2rem 0;
    font-size: 2em;
}

@media only screen and (width > 722px){
    .about__pictures{
        display:flex;
    }
}